.Nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    /* height: 100px; */
    padding: 26px;
    margin-bottom: 30px;
  }
  .Nav-menus {
    display: flex;
    flex-direction: row;
    /* height: 77px; */
    width: 50%;
    margin: auto;
    text-align: center;
    /* padding: 26px 40px; */
  }
  .Nav-brand {
    margin: auto;
    vertical-align: middle;
    
  align-items: center;
  justify-content:center;
  }
  .Nav-brand-logo {
    display: block;
    background-position: -176px 0px;
    background-image: url(./kostagram.png);
    background-size: 405px 379px;
    background-repeat: no-repeat;
    height: 35px;
    width: 176px;
    text-indent: -1000%
  }
  input {
    width: 170px;
    height: 30px;
    padding-left: 65px;
    box-sizing: border-box;
    background: gray;
    border: 1px solid #C5C4C4;
    font-size: 10pt;
    color: #000000;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_search_48px-128.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 48px 5.5px;
    margin-left: 70px;
    background-color: #EEEEEE;
  }
  input:focus {
    padding-left: 16px;
    background-position: 0;
  }
  .search_bar {
    margin-left: 30px;
    
  }